@page
@model filmDunyasi.Pages.Admin.Film.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Film</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Film.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Film.Category.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Film.Native)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Film.Native.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Film.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Film.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Film.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Film.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Film.Duration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Film.Duration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Film.IMDBRating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Film.IMDBRating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Film.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Film.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Film.Banner)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Film.Banner)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Film.Trailer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Film.Trailer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Film.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Film.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Film.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Film.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Film.Director)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Film.Director.ID)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Film.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
